/*! ==========================================================================
    Fuentes
    ========================================================================== */
@font-face {
    font-family: 'name_to_use';
    src: url('../fonts/path_name/name_font.eot');
    src: url('../fonts/path_name/name_font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/path_name/name_font.woff') format('woff'),
         url('../fonts/path_name/name_font.ttf') format('truetype'),
         url('../fonts/path_name/name_font.svg#name_to_use') format('svg');
    font-weight: normal;
    font-style: normal;
}