body
	background: linear-gradient(#facf87, #c4eef7);

/*! ==========================================================================
    HEADER
    ========================================================================== */
.Header
	margin 0 auto
	max-width 960px
.Header-imageContainer
	margin 0 auto
	width 200px

/*! ==========================================================================
    MAIN
    ========================================================================== */
.Main
	height 10px
	margin 0 auto
	max-width 960px
.Main-title
	color #414040
	text-transform uppercase
	text-align center
.Main-preloader
	margin 0 auto
	width 35px
/*! ==========================================================================
    FOOTER
    ========================================================================== */
.Footer
	height 10px

/*! ==========================================================================
		RESPONSIVE
		========================================================================== */
@media only screen and (max-width: 500px)
	body
		background-color #ccc

//Ejemplo para trabajar con retina display
/*@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (   min--moz-device-pixel-ratio: 1.5),
only screen and (     -o-min-device-pixel-ratio: 3/2),
only screen and (        min-device-pixel-ratio: 1.5),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx)

    .body {
        background-color #000
    }*/
