/*! ==========================================================================
    CONFIGURACIÓN GENERAL
    ========================================================================== */
body, html
	height 100%
	width 100%
	margin 0
	padding 0
	
img
	display block
	border none

*
	outline none

ul
	list-style none
	padding 0
	margin 0

figure
	margin 0
	padding 0

/*! ==========================================================================
    UTILIDADES
    ========================================================================== */
.u-floatRight
	float right

.u-floatLeft
	float left

.u-clearFloat
	overflow hidden
