// --------------------------------------------------------------------------*
// Lista de colores sueltos
// --------------------------------------------------------------------------*
$c_azul_1  : #135699;
$c_azul_2  : #4380c6;


// --------------------------------------------------------------------------*
// Lista de colores semántico
// --------------------------------------------------------------------------*

// Textos
$c_texto_base : #404040;